
{padding: 0;

margin:0; 
}

body {font-family: verdana}

#tabla{
	width: 100%;
		}

#tabla table {

width: 100%; 
text-align: left;
border-collapse: collapse;

}


#tabla th,td{

padding-top: 10px;
padding-bottom: 10px; 
width: auto; 

color: inherit;
}

thead {
background-color: #007095; 
	border-bottom: solid 5px #0f362d;
	color: white;
}

.dos{

	background-color: #ddd; 
}

 




#baradmin{
background-color: #135777;
position:absolute;
opacity: 100%;
	width: 100%;
	height: 40px;
padding: 0; 
margin: 0; 
box-shadow: 1px 1px 5px #000; 
position: static;


font-family: Verdana;

 color: #fff; 
}


#baradmin li{
	float: left;
list-style-type: none;
margin:0;
padding: 0: ;
padding: 10px  25px 21.9px 25px;


}

#buscar{float: right;}
