

 .list{
background-color: #135777;
position:absolute;
opacity: 100%;
	width: 100%;
	height: 60px;
padding: 0; 
margin: 0; 
box-shadow: 1px 1px 5px #000; 
position: static;


font-family: Verdana;

 color: #fff; 
}


.list a {
	text-decoration: none;

margin:0; 
 
background-color: inherit;
text-align: center;

font-size: 1.2em; 

color: inherit; 
}


.list  li{
	float: left;
list-style-type: none;
margin:0;
padding: 0: ;
padding: 10px  25px 21.9px 25px;

}

.list  #navegacion li:hover{
	color: black; 
background-color: #007095;

}


 #ingreso {

float: right;
margin-right: : 40px; 
font-family: inherit;

}


#ingreso li {
padding: 8px;
-webkit-text-stroke: 0.3px black;
font-size:inherit; 
}


#ingreso input {
padding: 6px;
  
}



 #ingreso  button{
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 4px;
  color: white;
  font-size:inherit;
}




footer {
height: 300px; 
background-color: #135377;
font-family: verdana;
width: 100%; 

float: left;
font-family: 1.1em;
}


.sfooter{
width: 31%;
height: 100%; 
float: left;
margin-right: 20px; 
color: white; 
}
 


#social{

  text-align: left;

font-family: inherit; 
}


#social ul{
margin-left: 20px; 

}


#social #titulo{
font-size: 1.4em;
padding: 10px; 

}

#social  li{
padding: 10px;

list-style-type: none;
}

  #enlaces {

  text-align: left;




 }

 #enlaces ul{margin-top: 30px;}

  #enlaces  a {

  text-decoration: none; 
color:inherit;
 }

  #enlaces  h1, #contacto h1 {
font-family: inherit; padding: 10px;
 }

 #enlaces li{
  margin-left: 25px;
  padding: 10px;
  font-family: verdana;
  font-size: 1.2em; 
  
 }

 #enlaces a:hover{
    text-decoration: underline;

 }


  #contacto ul{
margin-top: 30px;

 }

#contacto input {

  padding: 15px; 
width: 70%; 
margin-bottom: 20px;
}


