*{padding: 0px;
margin: 0px;}

object {padding: 0px; 
margin: 0px;
width: 100%; 
height: 300px;
}




body {font-family: verdana


}

main{
background-color: #F7FBFB; 
	width: 70%;
		margin: auto; 

font-family: inherit;
margin-bottom: 70px; 

}

@media(max-width: 750px){
main {
width: 95%;

}


.texto,strong{

	line-height:25px; 


}

#preguntas{

	margin: auto; 
	width: 95%;
margin-bottom: 30px;
}



}

figure{

	margin: auto; 
	width: 80%;
margin-bottom: 60px;
}

figure img{
	width: 100%; 
}



main #titulo {
	text-align: center;
margin-bottom: 60px;
margin-top: 60px;
font-family: inherit;
font-size: 1.5em; 
font-weight: 600; 
}

#preguntas{

	margin: auto; 
	width: 80%;
margin-bottom: 60px;
}


.texto,strong{

	line-height:45px; 
width: 100%; 

margin: auto;
text-align: justify;

}

#texto3{
text-align: right;
font-weight: 600;
}
