

 .list{
background-color: #135777;
position:absolute;

	
	height: auto;
padding: 0; 
margin: 0; 
box-shadow: 1px 1px 5px #000; 
position: static;

display: flex;
flex-direction: column;
font-family: Verdana;

 color: #fff; 
}


.list a {
	text-decoration: none;

margin:0; 
 
background-color: inherit;
text-align: center;

font-size: 1.2em; 

color: inherit; 
}


.list  li{
list-style-type: none;
margin:0;
padding: 0: ;

}

.list  #navegacion li:hover{
	color: black; 
background-color: #007095;

}


 #ingreso {

float: right;
font-family: inherit;

}


#ingreso li,button {
  float: right;
-webkit-text-stroke: 0.3px black;
font-size:inherit; 
}


#ingreso input {
padding: 6px;
  
}



 #ingreso  button{

  background: #1f53c5;
  border: none;
  padding: 4px;
  color: white;
  font-size:inherit;
}




footer {
height:auto; 
background-color: #135377;
font-family: verdana;
width: 100%; 

float: left;
font-family: 1.1em;
}


.sfooter{
width: 31%;
height: 100%; 
float: left;
margin-right: 20px; 
color: white; 
}
 


#social{
width: 100%;
  text-align: left;

font-family: inherit; 
}


#social ul{
margin-left: 20px; 

margin: auto;
}


#social #titulo{
font-size: 1.4em;
padding: 10px; 

}

#social  li{
padding: 10px;

list-style-type: none;
}

  #enlaces {

display: none;



 }

#contacto {
  display: none;
}
 
  