*{padding: 0;
	margin: 0 ; 

}








main p { width: 100%
text-align:center;
 }


.store  #title {
text-align: center;
font-size: 2em;
width: 100%; 

float: left;
}


.product {
width: 100%; 
float: left;	




}



.product img {
width: 100%; 
height: 350px;
float: left;



}

.product p {
	width: 100% ;
text-align: center;
font-size: 1.7em;
margin-bottom: 30px; 

}


.product  img:hover{

	-webkit-filter: contrast(150%);
filter: contrast(150%);

}





.Fprincipal{
width: 100%; 

}




.pregas{
	width: 100%; 
float: left;

}

.pregas p{
float: left;
	width: 100%;
	
 
}

.pregas img{
float: left;	
width: 100%; 
height: 250px; 	

}

footer {
	float: left;
background-color: #F5F5F5; 

}