

*{padding: 0;

margin: 0; 
}





body{

border-color: 	#393f40;
}


main p { width: 100%;
text-align:center;
 }


.store  #title {
text-align: center;
font-size: 2em; 
width: 100%; 
}


.product {
width: 45%; 
float: left;	

margin: 20px;


}



.product img {
width: 100%; 
height: 350px;
float: left;



}

.product p {
	width: 100% ;
text-align: center;
font-size: 1.7em;
margin-bottom: 30px; 
}


.product  img:hover{

	-webkit-filter: contrast(150%);
filter: contrast(150%);

}





.Fprincipal{
width: 100%; 

}




.pregas{
	width: 100%; 
float: left;
border-top:blue; 

margin-top: 30px;

box-shadow: 1px 1px 5px #000; 

}

.pregas p{
float: left;
	width: 50%;
	margin-left:  40px;
	margin-top: 40px;
	margin-right:   30px;

font-size: 1.3em;
 text-align: justify;
}

.pregas img{
float: left;	
width: 40%; 
height: 350px; 	
border-color:#393f40 ;
border-top: 10px; 

}

