*{padding: 0;
	margin :0; 
}


body {
background-color: #393f40;

}

.form-register {
  width: 60%;
  background: white;
  padding: 30px;
  margin: auto;
 margin-top: 30px;
 margin-bottom: 30px;
  font-family: 'verdana';
  color: black;
  box-shadow: 7px 13px 37px #000;
}


@media(max-width: 750px){
.form-register {
  width: 80%;
margin-top: 0px;
}
}


.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: black;
}

 select{
 margin-right: 0px;
 }
.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: black;
  text-decoration: none;
}


.form-register .botons {
  width: 100%;
  background: #006586;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
